<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<title>Dashboard</title>

</head>
<body>


<div class="container">
    <h1 th:text="'Welcome ' + ${instructor} + '!!!!!'"></h1>
    <br>
    <a class="btn btn-primary btn-lg" href="/dashboard/myCourses" role="button">List my courses</a>
    <!-- <a class="btn btn-primary btn-lg" href="/users/login" role="button">US2</a> -->
    <hr>
   
</div>


</body>
</html>